html, body, nav, div {
  margin: 0;
  width: 100%;
  height: 100%;
}
body, div {
  font-family: Arial;
  background-color: #eee;
  color: #444;
}
nav, div {
  display: flex;
  flex-direction: column;
}
div {
  cursor: pointer;
}
div:hover {
  background-color: #0bb;
  color: #eee;
}
div:active {
  background-color: #222;
  color: #222;
}
div:nth-of-type( 2n + 0 ) {
  height: 5%;
  background-color: #ddd;
  cursor: default;
}
.retract, .expand {
  animation-name: retract;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.expand {
  animation-name: expand;
}
h2 {
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

@keyframes retract {
  100% {
    height: 20%;
  }
}
@keyframes expand {
  100% {
    height: 100%;
  }
}

@media( orientation: landscape ) {
  nav {
    flex-direction: row;
  }
  div:nth-of-type( 2n + 0 ) {
    width: 5%;
    height: 100%;
  }
  @keyframes retract {
    100% {
      width: 20%;
    }
  }
  @keyframes expand {
    100% {
      width: 100%;
    }
  }  
}
